#self {border-radius: 50%;
          height: 300px;
          width: 200px;
         float: left;
         margin-left: auto;
         margin-right: auto;
        border: 5px ridge brown;}


#art {height: 300px;
        width: 400px;
        display: block;
  margin-left: auto;
  margin-right: auto;
border: 5px ridge brown;}


body {background-image: radial-gradient(#000000,#ffffff);}

p{text-align: center;
    width: 1400px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
border: 5px ridge brown;
background-color: rgb(231, 64, 64);}

h1{border: 5px ridge brown;
text-align: center;
background-color: #ffffff;
font-family:monospace;}